button {
  width: 100px;
  height: 100px;
  margin: 5px;
  vertical-align: center;
  text-align: center;
}

button.play {
  width: 100px;
  height: 50px;
  font-size: 15px;
}
button.clear-board {
  width: 200px;
  height: 200px;
}
.btn {
  font-size: 70px;
}

.board {

}

.jumbotron {
  text-align: center;
}
